network:
  version: 2
  wifis:
    {{ system_wifi_interface }}:
      access-points:
        {{ wifi_ssid }}:
          password: {{ wifi_password }}
      dhcp4: false
      dhcp6: false
      addresses: [ {{ wifi_cidr }} ]
      routes:
        - to: default
          via: {{ home_lan_gateway }}
      nameservers:
        addresses: [{{ home_lan_gateway }}, 8.8.8.8]
