version: "3.7"
services:
  deluge:
    image: linuxserver/deluge
    container_name: deluge
    volumes:
      - {{ deluge_config_dir }}:/config
      - {{ deluge_download_dir }}:/data
    networks:
      mynet:
        ipv4_address: {{ deluge.ip }}
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Asia/Vladivostok
      - UMASK_SET=002
networks:
  mynet:
    external:
      name: home_network
