version: "3.7"
services:
  homer:
    image: b4bz/homer
    container_name: homer
    volumes:
      - {{ homer_config_dir }}:/www/assets
#    ports:
#      - "80:8080"
    networks:
      mynet:
        ipv4_address: {{ homer.ip }}
    environment:
      - UID=1000
      - GID=1000
      - TZ=Asia/Vladivostok
    restart: unless-stopped
networks:
  mynet:
    external:
      name: home_network
