version: "3.7"
services:
  plex:
    container_name: plex
    image: plexinc/pms-docker
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Asia/Vladivostok
      - VERSION=docker
      - PLEX_CLAIM={{ plex_claim }}
    networks:
      mynet:
        ipv4_address: {{ plex.ip }}
    hostname: server-plex
    volumes:
      - {{ plex_library_dir }}:/config
      - {{ plex_transcode_dir }}:/transcode
      - {{ plex_tvseries_dir }}:/tvseries
      - {{ plex_movies_dir }}:/movies
      - {{ plex_music_dir }}:/music
      - {{ app_data_root }}:/data
networks:
  mynet:
    external:
      name: home_network
